src/main/mule/dataweave-point-to-point-without functions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="transformation-dataweave-appFlow" doc:id="3885a7e3-65d4-4494-8b2f-42fd15d05185" >
		<http:listener doc:name="Listener" doc:id="cbfa5d2d-b1ae-4a18-a67d-d41dbd2d1816" config-ref="HTTP_Listener_config" path="test"/>
		<ee:transform doc:name="point to point" doc:id="d0c00000-0d87-42ec-85dd-bd1653050a76" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  a: [2,1,3] - 7,
  b: [2,1,3] - 2, 
  c: [2,1,3][-2], //SLECT 2nd element from end side
  d: "",
  e: ["2","1","3"] - "1",
  f: 2 + 2,
  g: 2 ++ 2,
  h: "hi" ++ "world", 
  i: [2,1,3] - 2 ,
  j: [1] + [3],
  k: [4,[3]] - [3],
  l: [8,6,7] - [8,6,7][2],
  m: [8,6,7][2] as String,
  n: indexOf([8,6,7],6),
  o: "8" as Number, 
  p: "9.09" as String{format: "0.0"} ,
  q: 1156.7  as String {format: "#,###"},
  r: 4 + "4",
  s: "4" + 4,
  t: 4 ++ "4",
  u: "4" ++ 4,
  v: 4.0 + "4",
  w: "4" + 4.0,
  x: 4.0 ++ "4",
  y: "4" ++ 4.0,
  z: 4.1 + "4",
  c1: "4" + 4.1,
  d1: 4.1 ++ "5",
  e1: "4.1" ++ 5,
   a1: 8 as Number,
  b1: 8.0 as String,
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="89e47ea2-8797-4a7b-81f9-34bf8771b432" message="test: #[payload]"/>
	</flow>
</mule>
